[Unit]
Description=Video Disk Recorder
After=network.target 

[Service]
ExecStart=/usr/bin/startvdr
Restart=on-failure
RestartPreventExitStatus=2

[Install]
WantedBy=multi-user.target
